.table-striped>tbody>tr:nth-of-type(odd) {
 background-color:rgba(92, 111, 130, 0.75)   
}
.table-striped>tbody>tr:nth-of-type(even) {
    background-color:rgba(145, 146, 144, 0.5)   
   }

.backgrou {
background-image: url("/w3images/photographer.jpg");
background-color: #cccccc;
height: 500px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}
